body{background-color:skyblue}
h4{color:blue;font-family:arial;text-align:center;}
h1{color:red;text-align:center;display:block;}
nav{width: 10%;
height: 5px;}
ul{display:inline;
text-style-type:none;
padding:9px;
height:5px;
width:100%; position:fixed;top:0;left:0;}
li{float:left; width: ;}
li a{display:block;
background-color:tomato;border:10px solid green;}


.split{padding:0px;
width:33.33%;
height: 50%;
float:left;
margin:0px;

}

.left{
    left:30%;
    background-color:red;
}

. middle {
    left:40%;
    background-color:#d9ff15;
}

.right{
    right:30%;
    background-color:#00ff18;
}

h3{color:#fff155;font-family:courier;font-size:500px:}

h2{color:#00ff42; background-color:white:border:1px solid green;}
p1{color:#ff00f1; background-color:#1c15ff;font-family:courier;font-size:25px}
p1: hover{background-color:tomato;}




footer{background-color:yellow;
text-align:center;}

newsletter container {height:160px;width:30px;}


img{width:130px;height: 190px;}

































